{% extends "ui/content_base.html" %}
{% load static %}
{% load i18n %}

{% block page_title %}{% if is_create %}{% trans "Add Tier" %}{% else %}{% trans "Edit Tier" %}{% endif %}{% endblock %}

{% block content %}
{% with current_section="loyalty" section_title=_("Loyalty") %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block module_tabbar %}

{% include "loyalty/partials/tabbar.html" with current_view='tiers' %}

{% endblock %}

{% block page_content %}
{% include "loyalty/partials/tier_form.html" %}
{% endblock %}
